/** color pallette
 * 
 * orange: #f16638
 * dk orange: #B14B29
 * extra dk green: #133D23
 * dk green: #1b5731
 * md green: #19aa4b
 */

img {
  max-width: 100%;
  height: auto; 
}
h1, h2, h3, h4, h5, h6 {
  color: #f16638;
}
h1, h2, h3 {
  margin: 20px 0;
}
h1 {
  margin-top: 0;
}
a {
  color: #f16638;
  cursor: pointer;
}
#page-wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.navbar-fmw {
  margin-bottom: 0;
}
.navbar-fmw .navbar-toggle {
  border-color: #1b5731;
  margin-top: 30px;
}
.navbar-fmw .navbar-toggle .icon-bar {
  background-color: #1b5731;
}
.navbar-fmw .nav > li {
  width: 33%;
  float: left;
  text-align: center;
}

.navbar-fmw .nav > li#header-login,
.navbar-fmw .nav > li#header-signup {
  width: 50%;
}
.navbar-fmw .nav > li#header-login a,
.navbar-fmw .nav > li#header-signup a {
  background: #133D23;
  color: #fff;
  margin: 10px;
}
.navbar-fmw .nav > li#header-login a:hover,
.navbar-fmw .nav > li#header-signup a:hover {
  background: #f16638;
  color: #fff;
}
.navbar-fmw li a {
  color: #f16638
}
.navbar-fmw .nav li a:before {
  height: 1px;
  width: 100%;
  background: #b2b2b2;
}
.navbar-fmw .nav li > a {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  padding: 20px 0px;
}
.navbar-fmw .nav li > a.has-icon {
  padding: 55px 15px 15px 15px;
  background-position: 25px 10px;
  background-size: 50px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
}
.navbar-fmw .nav li#maker a {
  background-image: url('../images/maker.png');
}
.navbar-fmw .nav li#connections a {
  background-image: url('../images/connections.png');
}
.navbar-fmw .nav li#pages a {
  background-image: url('../images/pages.png');
}
.navbar-fmw .nav li#account a {
  background-image: url('../images/orange.png');
}
.btn {
  margin-bottom: 5px;
}
.btn-sm {
  margin-bottom: 0;
}
.btn-fmw {
  color: white;
  background-color: #1b5731;
  border-color: #133D23;
}
.btn-fmw:hover,
.btn-fmw:focus {
  color: white;
  background-color: #1F6438;
}
.btn-fmw-orange {
  color: white;
  background-color: #f16638;
  margin-bottom: 5px;
  border-color: #B14B29
}
.btn-fmw-orange:hover,
.btn-fmw-orange:focus {
  color: white;
  background-color: #FE6B3B;
}
.btn-fmw-lt {
  color: white;
  background-color: #33A35C;
  border-color: #133D23;
}
.btn-fmw-lt:hover {
  color: white;
  background-color: #31BA3C;
}
.btn-group.open .dropdown-toggle {
  color: white;
}
.error, .message {
  margin-bottom: 10px;
}
.alert {
  margin: 0 0 10px 0;
}
.alert h3 {
  margin: 0 0 5px 0;
}
.alert-danger h4 {
  color: #a94442;
}
.panel .list-group {
  margin-bottom: 0;
}
.panel-fmw {
  border: 1px solid #1b5731;
}
.panel-fmw .panel-heading {
	background-color: #1b5731;
	color: #fff;
}
.panel-fmw h3.panel-title {
    color: #fff;
}
.panel-fmw-orange {
  border: 1px solid #B14B29;
}
.panel-fmw-orange .panel-heading {
	background-color: #f16638;
	color: #fff;
}
.panel-fmw-orange h3.panel-title {
    color: #fff;
}
.panel-heading .collapse-toggle {
  display: block;
  width: 100%;
}
.panel-heading .collapse-toggle:hover {
  text-decoration: none;
}
.fm-feature .feature-icon {
  height: 62px;
  margin-top: 30px;
}
.fm-feature h2 {
  text-align: center;
}
.fmw-plan .stars,
.fmw-plan h3,
.fmw-plan .signup-button {
  text-align: center;
}
.tutorial {
  padding-top: 60px;
}
.tutorial h4 {
  text-align: center;
}
.row .form-field {
  padding: 7px 0;
}
.row .even {
  background: #e7e7e7;
}
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
	padding: 15px;
}
.account-tab-content {
  padding: 15px;
  border-radius:  0 0 5px 5px;
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 20px;
}
dl.connection-details {
  margin-bottom: 10px;
}
dl.connection-details dt {
  width: 120px;
}
dl.connection-details dd {
  margin-left: 130px;
}
.carousel {
  margin-bottom: 20px;
}
.carousel .carousel-control {
  width: 0%;
}
.carousel .carousel-control .icon-next, .carousel .carousel-control .glyphicon-chevron-right {
  right: -20%;
}
.carousel .carousel-control .icon-prev, .carousel .carousel-control .glyphicon-chevron-left {
  left: -20%;
}
#ifs-logo {
  float: left;
  margin: 0 20px 10px 0;
}
#ifs-logo + p {
  clear: both;
}
#pricing .option {
  padding: 6px 0;
}

/* login form */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* pages page */
#pages-stats {
  margin-bottom: 10px;  
}

#pages-stats .count-type {
  min-width: 135px;
  display: inline-block;
}

#pages-stats .stat {
  border-right: 1px solid #e3e3e3;
}

#pages-stats .stat:last-child {
  border-right: none;
}

#pages-stats .stat .badge {
  margin-left: 20px;
}

#pages-filters {
  margin-bottom: 15px;
  padding-top: 10px;
}

#pages-filters label {
  display: block;
}

#pages-list {
  padding-left: 15px;
}
.page.on {
  display: block;
}
.page.off {
  display: none;
}
hr {
  margin: 10px 0;
}

#feedback h3 {
  margin: 0;
}

.fmw-headers {
  background: #1b5731;
} 
.header {
  color: #fff;
  font-weight: bold;
}

/* credit card detection */
ul.card_logos {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.card_visa, .card_mastercard, .card_amex, .card_discover, .card_diners, .card_jcb {
	display: inline-block;
	width: 50px;
	height: 30px;
	overflow: hidden;
	text-align: left;
	text-indent: -999px;
	background: url(../images/sprite-cards.png) 0 0 no-repeat;
}

.card_mastercard {
	background-position: -55px 0;
}

.card_amex {
	background-position: -110px 0;
}

.card_discover {
	background-position: -165px 0;
}

.card_diners {
	background-position: -220px 0;
}

.card_jcb {
	background-position: -660px 0;
}

.is_visa li, .is_mastercard li, .is_amex li, .is_discover li, .is_diners li, .is_jcb li, .is_nothing li {
	opacity: .2;
}

.is_visa li.card_visa, .is_mastercard li.card_mastercard, .is_amex li.card_amex, .is_discover li.card_discover, .is_diners li.card_diners, .is_jcb li.card_jcb {
	opacity: 1;
}

#user-invoices {
  font-size: 12px;
}

#update-card,
#replace-card {
  cursor: pointer;
}

#update-account-card,
#replace-account-card {
  display: none;
}

#login-modal .modal-content {
    background: transparent;
    box-shadow: 0px 0px 0px black;
    -webkit-box-shadow: 0px;
    border: none;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help {
    margin-top: 10px;
}
.new-account {
    display: block;
    margin-top: 10px;
}
.popover {
  max-width: 66%;
}
.popover ul {
  padding-left: 15px;
}
.popover-content {
  padding-right: 20px;
}
.modal-footer .btn+.btn {
  margin-bottom: 5px;
}
.sortable { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sortable li {
  padding: 0.4em;
  padding-left: 2.5em;
}
.sortable li .ui-icon {
  position: absolute;
  margin-left: -2em;
  top: 30%;
  cursor: pointer;  
}
#product-sort-field li .form-group {
  display: inline-block;
  margin-left: 10px;
  min-width: 100px;
  vertical-align: middle;
}
.hint {
  font-size: 11px;
  color: #b4b4b4;
  font-style: italic;
  margin-bottom: 7px;
}
#collapseBilling .dl-horizontal dt {
  float: left;
  width: 120px;
  text-align: right;
}
#collapseBilling .dl-horizontal dd {
  margin-left: 130px;
}
/* since in some cases we're using a different
 * BS .input-group-addon per viewport size,
 * need to override BS defaults since BS expects
 * us to only have one before and one after the input */
.input-group-addon.visible-xs {
  display: table-cell !important;
  border-right: 0px;
  border-radius: 4px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.fmw-logo {
  background: url('../images/Filemaker-Website-logo.png') 0 0 no-repeat;
  background-size: contain;
  text-indent: -10000px;
  display: block;
  height: 59px;
  width: 131px;
}
p.navbar-right.navbar-text {
  margin-bottom: 0;
}
.navbar .fmw-logo {
  margin: 10px 30px 0 20px;
  opacity: .5;
}
.sort-fieldname {
  margin: 7px 0 0 0;
}
.url_rules {
  margin: 5px 0;
  border: 1px solid;
  padding: 5px 10px;
  font-size: 12px;
  display: none;
}
.related-options {
  display: none;
}
.more-options {
  display: none;
}
.visibility-private,
.visibility-public {
  display: none;
}
#footer {
  margin-top: 40px;
}

/* mobile only, no need to override in other media queries */
@media (max-width: 767px) {
  dl.connection-details {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  dl.connection-details dt {
    float: left;
    width: 110px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dl.connection-details dd {
    margin-left: 120px;
  }
  .page-details {
    margin-bottom: 10px;
    font-size: 1.3em;
  }    
  #pages-stats .stat {
    border-right: none;
  }
  #pages-list .page:nth-child(2) {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  #pages-list .page .glyphicon-info-sign {
    font-size: 18px
  }
  #pages-list .page label {
    float: right;
  }
}

/* tablet and down */
@media (max-width: 969px) {
  
}

/* tablet ONLY */
@media (min-width: 768px) and (max-width: 969px) {
  .btn {
    font-size: 12px;
  }
}

/* tablet and up */
@media (min-width: 768px) {
  /* front-end nav */
  .navbar-fmw .nav > li,
  .navbar-fmw .nav > li#header-login,
  .navbar-fmw .nav > li#header-signup {
    width: auto;
  }
  
  .navbar-fmw .nav > li#header-login a,
  .navbar-fmw .nav > li#header-signup a {
    background: transparent;
    color: inherit;
    margin: 0;
  }
  .navbar-fmw .nav li > a {
  	float: none;
  	width: auto;
  	border-bottom: none;
  	margin-bottom: 0;
	padding: 20px 35px;
  }
  .navbar-fmw .nav li > a:hover {
    border-bottom: 0;
  }
  .navbar-fmw .nav li.active a {
  	border-bottom: none;
  }
  #ifs-logo + p {
  	clear: none;
  }
  .popover {
    max-width:300px;
  }
  .input-group-addon.visible-xs {
    display: none !important;
  }
  .fmw-plan .panel-body {
    min-height: 140px;
  }

}
/* desktop and up */
@media (min-width: 970px) {
  .container {
	width: 940px;
  }
}

body.non-prod #page-wrapper{
  padding-top: 25px;
}

body.non-prod .environment {
  z-index: 100;
    position: fixed;
    top 0;
    width: 100%;
    background: red;
    color: #fff;
    height: 25px;
    text-align: center;
    font-size: 18px;
}
